<html lang='en-us' ng-app="TestApp">
	<head>
		<title>The MEAN stack</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="assets/js/app.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>

	</head>

	<body>
		
		<header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/api/workout/test">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller="mainController">
            
                <h1>Hello world!</h1>
                
				<hr/>

	<h3>View from Database</h3>
    <a href="#" class="btn btn-default" ng-click="showme=true">Show</a>
    <a href="#" class="btn btn-default" ng-click="showme=false">Hide</a>
		<ul>
			<li ng-show="showme" ng-repeat = "workout in workouts">
				Workout Name: {{workout.workoutName}} <br>
				Reps: {{workout.reps}} <br>
				Weight: {{workout.weight}} <br>
				ID: {{workout._id}}

			</li>
		</ul>
    </body>
				<hr/>

				<div class="col-xs-4">
				Workout: <input class= "form-control" type="text" 
				ng-model="workoutName" placeholder="Enter Workout Name"/>
				</div>
				<div class="col-xs-1">
				Reps: <input class= "form-control" type="number" 
				ng-model="reps"/>
				</div>
				<div class="col-xs-1">
				Weight: <input class= "form-control" type="number" 
				ng-model="weight"/>
				</div> <br>

				<a href="#" class="btn btn-default" 
				ng-click="addWorkout()">Add</a>

				<hr/>
				<div class="col-xs-4">
				Delete Workout: <input class= "form-control" type="text" 
				ng-model="id" placeholder="Enter Workout ID"/>
				</div> <br>

				<a href="#" class="btn btn-default"
				ng-click="deleteData()">Delete</a>

				<hr/>
            </div>       
		</div>		
	</body>
</html>