<html lang='en-us' ng-app="TestApp">
	<head>
		<title>The MEAN stack</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="assets/js/app.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
			.center-block {
  				display: block;
				margin-left: auto;
				margin-right: auto;
				color:red;
			}
        </style>

	</head>
	<body>
		
		<header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="./home.ejs">Home</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> bgld3r</a></li>
				</ul>
			</div>
			</nav>
		</header>

 <div class="container">

         <div ng-controller="mainController">
            
                <h1>Exercise Tracker</h1>
                <hr/>

		<a href="#" class="btn btn-default"
				ng-click="toggleWorkoutSort()">Show</a>
				<div class="col-md-4" >
				<input class= "form-control" type="text" 
				ng-model="searchWorkouts" placeholder="Sort by Name"/>
				</div>
				
		<table class="table table-striped" ng-show="workoutSortTable">
			<th>Workout</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Edit</html>
			<th>Delete</th>
			<tr ng-repeat = "workout in workouts | filter:searchWorkouts | orderBy:'-'" >
				<td>{{workout.workoutName}}</td>
				<td>{{workout.reps}} </td>
				<td>{{workout.weight}} </td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="toggleLiftingEdit(workout._id)">Edit</a></td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="deleteClick(workout._id)">Delete</a></td>
			</tr>
		</table>

			<div ng-show="liftingEditForm">

				<div class="col-md-4" >
				<input class= "form-control" type="text" 
				ng-model="workoutName" placeholder="New Workout Name"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>
					<a href="#" class="btn btn-default"
				ng-click="editLiftingWorkout()">Edit</a>	
			</div>

	<a href="#" class="btn btn-default"
		ng-click="toggleLiftingButtons()">Add Workout</a>
	
	<br>
	<br>
	<div ng-show="workoutButtons">
		<a href="#" class="btn btn-default"
		ng-click="toggleLiftingCreate(1)">Bench</a>

		<a href="#" class="btn btn-default"
		ng-click="toggleLiftingCreate(2)">Squat</a>

		<a href="#" class="btn btn-default"
		ng-click="toggleLiftingCreate(3)">Curls</a>

		<a href="#" class="btn btn-default"
		ng-click="toggleNewLift()">Other</a>
	</div>


		<div ng-show="liftingCreateForm">	
				<div ng-model="workoutName"></div>
			
				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="createLiftingWorkout()">Add</a>	
		</div>

		
			<div ng-show="newLiftingForm">
				<br>
				<div class="col-md-4" ng-model="workoutName">
				<input class="form-control" type="text"
				ng-model="workoutName" placeholder="Enter Workout Name"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="createLiftingWorkout()">Add</a>	
		</div>



	<hr>

	<div>
		<h3>Running</h3>
		<table class="table table-striped">
			<th>Distance</th>
			<th>Time</th>
			<th>Edit</th>
			<th>Delete</th>

			<tr ng-repeat = "workout in workouts " ng-if="workout.workoutName=='Run'">
				<td class="col-md-1">{{workout.distance}} miles</td>
				<td class="col-md-1">{{workout.time}} </td>
				<td class="col-md-1"><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="toggleRunningEdit(workout._id)">Edit</a></td>
				<td class="col-md-1"><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="deleteClick(workout._id)">Delete</a></td>
			</tr>
		</table>
	</div>


	
		<a href="#" class="btn btn-default" ng-click="toggleRunningCreate()">New Run</a>
				<br>
			<div ng-show="runningCreateForm">
				<br>		

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="distance" placeholder="Distance Ran"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="string" 
				ng-model="time" placeholder="hh:mm:ss"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="validateTime(time); createRunningWorkout()">Add</a>
			</div>
<br>

			<div ng-show="runningEditForm">
				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="distance" placeholder="Edit Distance Ran"/>
				</div>
				<div class="col-md-2" >
				<input class= "form-control" type="string" 
				ng-model="time" placeholder="hh:mm:ss"/>
				</div>
					<a href="#" class="btn btn-default"
				ng-click="validateTime(time); editRunningWorkout()">Edit</a>	
			</div>	
	</body>


	<footer>
		<hr>
		<h3>github.com/bguilder</h3>
		<hr>
	</footer>
</html>