<html lang='en-us' ng-app="TestApp">
	<head>
		<title>The MEAN stack</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="assets/js/app.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
			.center-block {
  				display: block;
				margin-left: auto;
				margin-right: auto;
				color:red;
			}
		<
        </style>

	</head>
	<body>
		
		<header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="./home.ejs">Home</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> bgld3r</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller="mainController">
            
                <h1>Exercise Tracker</h1>
                <hr/>
	<div>
		<h3>Workouts</h3>
		<table class="table table-striped">
			<th>Workout</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Edit</html>
			<th>Delete</th>
			<tr ng-repeat = "workout in workouts " ng-if="workout.workoutName!='Run'">
				<td>{{workout.workoutName}}</td>
				<td>{{workout.reps}} </td>
				<td>{{workout.weight}} </td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="toggleLiftingEdit(workout._id)">Edit</a></td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="deleteClick(workout._id)">Delete</a></td>
			</tr>
		</table>
	</div>

<div>
		<a href="#" class="btn btn-default" ng-click="toggleLiftingCreate()">New Workout</a>

			<div ng-show="liftingCreateForm">
				<br>
				<div class="col-md-4" >
				<input class= "form-control" type="text" 
				ng-model="workoutName" placeholder="Enter Workout Name"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="createLiftingWorkout()">Add</a>	
			</div>
	</div>

	<br>

	<div>
			<div ng-show="liftingEditForm">

				<div class="col-md-4" >
				<input class= "form-control" type="text" 
				ng-model="workoutName" placeholder="New Workout Name"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>
					<a href="#" class="btn btn-default"
				ng-click="editLiftingWorkout()">Edit</a>	
			</div>
			
	</div>

	<hr>


	<div>
		<h3>Running</h3>
		<table class="table table-striped">
			<th>Distance</th>
			<th>Time</th>
			<th>Edit</th>
			<th>Delete</th>

			<tr ng-repeat = "workout in workouts " ng-if="workout.workoutName=='Run'">
				<td>{{workout.distance}} miles</td>
				<td>{{workout.time}} </td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="toggleRunningEdit(workout._id)">Edit</a></td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="deleteClick(workout._id)">Delete</a></td>
			</tr>
		</table>
	</div>

	<div>
		<a href="#" class="btn btn-default" ng-click="toggleRunningCreate()">New Run</a>

			<div ng-show="runningCreateForm">
				<br>		

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="distance" placeholder="Distance Ran"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="time" placeholder="Time"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="createRunningWorkout()">Add</a>
	</div>

	<div><br>
			<div ng-show="runningEditForm">

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="distance" placeholder="Edit Distance Ran"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="time" placeholder="Edit Time"/>
				</div>
					<a href="#" class="btn btn-default"
				ng-click="editRunningWorkout()">Edit</a>	
			</div>
			
	</div>


	</body>
	<footer>
		<hr>
		<h3>github.com/bguilder</h3>
		<hr>
	</footer>
</html>