<html lang='en-us' ng-app="ExerciseApp">
	<head>
		<title>Exercise Tracker</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="../public/js/app.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		<link rel='stylesheet' href="../public/css/styles.css" type="text/css"/>

	</head>
	<body>
		<div ng-controller="mainController">
		
			 <div id="title" class="container-fluid">
				<h1 id="hello">Hello World!</h1>
				<p1>This is my first website. It is a workout tracking application that I designed and developed from scratch
					with help from two courses on Udemy.com: Learn and Understand Node.js, Learn and Understand AngularJS.
					All of the source code is on my github account.	Any questions
					feel free to contact me at bguilder@gmail.com</p1><br>
					<p2>Thank you for checking out my application!</p2><br><br>
					<p3>Brian Guilder</p3>
			 </div>


	 <div class="modal-body row">
 		 <div class="col-md-6">

                <h2 id="exerciseTitle">Track Lifting</h2>	
				<br>
			<div id="exerciseButtonSearch"class="container-fluid">	
				<a href="#" class="btn btn-default"
				ng-click="toggleWorkoutTable()">Show</a>
				<a href="#" class="btn btn-default"
				ng-click="toggleNewLift()">Add Workout</a>
				<div class="col-md-6 col-xs-5" >
					<input class= "form-control" type="text" 
					ng-model="searchLifting" placeholder="Sort by Name"/>
				</div>
         	</div>

		<div id="liftingForm"class="container" ng-show="newLiftingForm">
			<br>
			<div class="col-md-4 col-xs-4" ng-model="workoutName">
				Workout
			<input class="form-control" type="text"
			ng-model="workoutName"/>
			</div>				
			<div class="col-md-2 col-xs-2" >
				Reps
			<input class= "form-control" type="number" 
			ng-model="reps"/>
			</div>					
			<div class="col-md-2 col-xs-2" >
				Weight
			<input class= "form-control" type="number" 
			ng-model="weight"/>
			</div>
			<br>
			<a href="#" class="btn btn-default"
			ng-click="createLiftingWorkout()">Add</a>	
		</div>


		<div class="container-fluid">
			<table id="lifting" class="table table-striped text-centered" ng-show="workoutTable">
				<thead>
					<th>Date</th>
					<th>Workout</th>
					<th>Reps</th>
					<th>Weight</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<tbody>
					<tr ng-repeat = "workout in workouts | filter:searchLifting | orderBy:'-'" ng-if="!workout.time" >
						<td class="col-md-3">{{workout.date| date:'MM/dd/yyyy @ h:mma'}}</td>
						<td>{{workout.workoutName}}</td>
						<td>{{workout.reps}} </td>
						<td>{{workout.weight}} </td>
						<td><a href="#" class="btn btn-default"	ng-model="id"
						ng-click="toggleLiftingEdit(workout._id, workout.workoutName, workout.reps, workout.weight)">Edit</a></td>
						<td><a href="#" class="btn btn-default"	ng-model="id"
						ng-click="deleteClick(workout._id)">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	 </div>
		
	<div class="col-md-6">
		<h2 id="cardioTitle">Track Cardio</h2>
		<br>
		<div id="cardioButtonSearch" class="container-fluid">
			<a href="#" class="btn btn-default"
			ng-click="toggleCardioTable()">Show</a>		
			<a href="#" class="btn btn-default" 
			ng-click="toggleNewCardio()">New Cardio</a>	
			<div class="col-md-6 col-xs-5" >
				<input class= "form-control" type="text" 
				ng-model="searchCardio" placeholder="Sort by Name"/>
			</div>
		</div>



		<div id="cardioForm" class="container"ng-show="newCardioForm">
			<br>
			<div class="col-md-4 col-xs-4" ng-model="workoutName">
				Workout
			<input class="form-control" type="text"
			ng-model="workoutName" />
			</div> 
			<div class="col-md-2 col-xs-2" >
				Distance
			<input class= "form-control" type="number" 
			ng-model="distance" />
			</div>
			<div class="col-md-2 col-xs-2" >
				Time
			<input class= "form-control" type="string" 
			ng-model="time" />
			</div>
			<div class="col-md-2 col-xs-2" >
				Reps
			<input class= "form-control" type="number" 
			ng-model="reps" />
			</div>
			<br>
			<a href="#" class="btn btn-default"
			ng-click="validateTime(time); createCardioWorkout()">Add</a>
		</div>


		<div class="container-fluid">
			<table id="lifting"class="table table-striped text-centered" ng-show="cardioTable">
				<thead>
					<th>Date</th>
					<th>Workout</th>
					<th>Distance</th>
					<th>Time</th>
					<th>Reps</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<tbody>
					<tr ng-repeat = "workout in workouts | filter:searchCardio | orderBy:'-'" ng-if="!workout.weight">
						<td class="col-md-1">{{workout.date| date:'MM/dd/yyyy @ h:mma'}}</td>
						<td class="col-md-1">{{workout.workoutName}}</td>
						<td class="col-md-1">{{workout.distance}} </td>
						<td class="col-md-1">{{workout.time}} </td>
						<td class="col-md-1">{{workout.reps}}</td>
						<td class="col-md-1"><a href="#" class="btn btn-default"	ng-model="id"
						ng-click="toggleCardioEdit(workout._id, workout.workoutName, workout.distance, workout.time, workout.reps)">Edit</a></td>
						<td class="col-md-1"><a href="#" class="btn btn-default"	ng-model="id"
						ng-click="deleteClick(workout._id)">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</body>

	<footer id="footerLink">
		<hr>
		<a href="http://www.github.com/bguilder">github.com/bguilder</a>
	
	</footer>
</html>