<html lang='en-us' ng-app="TestApp">
	<head>
		<title>The MEAN stack</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="assets/js/app.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
			.center-block {
  				display: block;
				margin-left: auto;
				margin-right: auto;
				color:red;
			}
		<
        </style>

	</head>

	<body>
		
		<header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/api/workouts/test">Home</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> bgld3r</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller="mainController">
            
                <h1>Workout!</h1>
                <hr/>
				
    </body>

	<div>
		<a href="#" class="btn btn-default" ng-click="toggle(1)">Create Workout</a>

			<div class="createWorkout" ng-show="toggleCreate">
				<br>
				<div class="col-md-4" >
				<input class= "form-control" type="text" 
				ng-model="workoutName" placeholder="Enter Workout Name"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="addWorkout()">Add</a>

			</div>
	</div>
	<br>
		<div>
		<a href="#" class="btn btn-default" ng-click="toggle(2)">Edit Workout</a>

			<div class="createWorkout" ng-show="toggleEdit">
				<br>
				<div class="col-md-4" >
				<input class= "form-control" type="text" 
				ng-model="workoutName" placeholder="Enter Workout Name"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="text" 
				ng-model="id" placeholder="Enter id"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="editWorkout()">Edit</a>

			</div>
	</div>
			<br>
    	<a href="#" class="btn btn-default" ng-click="toggle(3)">Delete Workout</a>

		
			<div class="deleteWorkout" ng-show="toggleDelete">
				<br>
				<div class="col-md-4">
				<input class= "form-control" type="text" 
				ng-model="id" placeholder="Enter Workout ID"/>
				</div> 
	
				<a href="#" class="btn btn-default"
				ng-click="deleteData()">Delete</a>

			</div>

				<hr/>
				<h3>View from Database</h3>
		<table class="table table-striped">
			<th>Workout</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>ID</th>
			<tr ng-repeat = "workout in workouts">
				<td>{{workout.workoutName}}</td>
				<td>{{workout.reps}} </td>
				<td>{{workout.weight}} </td>
				<td>{{workout._id}}</td>

			</tr>
		</table>	
	</body>
</html>