<html lang='en-us' ng-app="TestApp">
	<head>
		<title>The MEAN stack</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="assets/js/app.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
			.hello{
				font-size:3.1em;
			}
			footer{
				text-align:center;
			}
			.title{
				background-color:862633;
				color:EED484;
				font-size: 2.0em;
				text-align:center;

			}
			.run{
				background-color:862633;
				color:EED484;
				font-size: 2.0em;
				text-align:center;
			}
			.intro{
				padding: 1.3em;
				background-color:EED484;
			}
			.workoutButtons{
				padding-left: 1em;
			}
			.runButtons{
				padding-left: 3em;
			}


		
        </style>

	</head>
	<body>
		

 <div class="container">

         <div ng-controller="mainController">

			 <div class="intro">
				<h1 class="hello">Hello World!</h1>
				<p1>This is my first website. It is a workout tracking application that I designed and developed from scratch
					with help from two courses on Udemy.com: Learn and Understand Node.js, Learn and Understand AngularJS.
					All of the source code is on my github account.	Any questions
					feel free to contact me at bguilder@gmail.com</p1><br><br>
					<p2>Thank you for checking out my application!</p2><br><br>
					<p3>Brian Guilder</p3>
			 </div>
                <h2 class="title">Exercise Tracker</h2>
				<hr>

		<div class="runningMain">

		<a href="#" class="btn btn-default"
				ng-click="toggleWorkoutSort()">Show</a>

		<a href="#" class="btn btn-default"
				ng-click="toggleNewLift()">Add Workout</a>

				<div class="col-md-5" >
				<input class= "form-control" type="text" 
				ng-model="searchWorkouts" placeholder="Sort by Name"/>
				</div>
         </div>
		<div ng-show="newLiftingForm">
			<br>
				<div class="col-md-4" ng-model="workoutName">
				<input class="form-control" type="text"
				ng-model="workoutName" placeholder="Enter Workout Name"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="reps" placeholder="Reps"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="weight" placeholder="Weight"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="createLiftingWorkout()">Add</a>	
		</div>


		<table class="table table-striped" ng-show="workoutSortTable">
			<th>Date</th>
			<th>Workout</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Edit</html>
			<th>Delete</th>
			<tr ng-repeat = "workout in workouts | filter:searchWorkouts | orderBy:'-'" ng-if="workout.workoutName!='Run'" >
				<td class="col-md-2">{{workout.date| date:'MM/dd/yyyy @ h:mma'}}</td>
				<td>{{workout.workoutName}}</td>
				<td>{{workout.reps}} </td>
				<td>{{workout.weight}} </td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="toggleLiftingEdit(workout._id, workout.workoutName, workout.reps, workout.weight)">Edit</a></td>
				<td><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="deleteClick(workout._id)">Delete</a></td>
			</tr>
		</table>



	<hr>
	<br>

	
		<h2 class="run">Run Tracker</h2>
		<hr>

		<div class="runButtons">
		
		<a href="#" class="btn btn-default"
				ng-click="toggleRunningTable()">Show</a>
		
		<a href="#" class="btn btn-default" 
				ng-click="toggleRunningCreate()">New Run</a>
	
		</div>
			<div ng-show="runningCreateForm">
				<br>
				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="distance" placeholder="Distance Ran"/>
				</div>

				<div class="col-md-2" >
				<input class= "form-control" type="string" 
				ng-model="time" placeholder="hh:mm:ss"/>
				</div>

				<a href="#" class="btn btn-default"
				ng-click="validateTime(time); createRunningWorkout()">Add</a>
			</div>


		<table class="table table-striped" ng-show="runningTable">
			<th>Date</th>
			<th>Distance</th>
			<th>Time</th>
			<th>Edit</th>
			<th>Delete</th>

			<tr ng-repeat = "workout in workouts | filter:searchRunning | orderBy:'-'" ng-if="workout.workoutName=='Run'">
				<td class="col-md-1">{{workout.date| date:'MM/dd/yyyy @ h:mma'}}</td>
				<td class="col-md-1">{{workout.distance}} miles</td>
				<td class="col-md-1">{{workout.time}} </td>
				<td class="col-md-1"><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="toggleRunningEdit(workout._id)">Edit</a></td>
				<td class="col-md-1"><a href="#" class="btn btn-default"	ng-model="id"
				ng-click="deleteClick(workout._id)">Delete</a></td>
			</tr>
		</table>

			<div ng-show="runningEditForm">
				<div class="col-md-2" >
				<input class= "form-control" type="number" 
				ng-model="distance" placeholder="Edit Distance Ran"/>
				</div>
				<div class="col-md-2" >
				<input class= "form-control" type="string" 
				ng-model="time" placeholder="hh:mm:ss"/>
				</div>
					<a href="#" class="btn btn-default"
				ng-click="validateTime(time); editRunningWorkout()">Edit</a>	
			</div>	
	</body>


	<footer>
		<hr>
		<h3>github.com/bguilder</h3>
		<hr>
	</footer>
</html>