html, body, input{
    font-size: 1.05em;
}

#title{
  margin-top: 1em;
  margin-bottom:1em;
  padding-bottom:1em;
  width:90%;
  background-color:EED484;
}
#hello{
  font-size:4em;
}

#exerciseTitle{
  margin:0px auto;
  text-align: center;
  width:90%;
  font-size:2.3em;
  background-color:862633;
  color:EED484;
}
#exerciseButtonSearch{
  margin:0px auto;
  padding-left:2em;
  text-align: center;
  width:90%;
}
#liftingForm{
  font-size:.7em;
  padding-left:2.5em;
  width:100%;
}
.table{
  border-radius:5px;
  width:90%;
  margin: 0px auto;
  float: none;
  text-align: left;
}
#cardioButtonSearch{
  margin:0px auto;
  padding-left:2em;
  width:90%;
  text-align:center;
}
#cardioTitle{
  width:90%;
  margin:0px auto;
  text-align: center;
  font-size:2.3em;
  background-color:862633;
  color:EED484;
}
#cardioForm{
  font-size:.7em;
  padding-left:2.5em;
  width:100%;
}
#footerLink{
  padding:2em;
  text-align:center;
  color:red;
}
a{
  color:862633;
}
a:hover{
  color:black;
}	
hr{
  width:90%;
  color:EED484;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}